<mat-toolbar>
    <header>
        <nav>
            <ul class="nav">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/movies/list">Movies List</a></li>
                <li *ngIf="isAdmin"><a routerLink="/movies/post">Add movie</a></li>
                <li *ngIf="!isLogged"><a routerLink="/auth/login">Login</a></li>
                <li *ngIf="!isLogged"><a routerLink="/auth/register">Register</a></li>
                <ng-container *ngIf="isLogged">
                    <button mat-button [matMenuTriggerFor]="menu">{{currentUser | async}}</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </ng-container>
                <li *ngIf="isLogged"><a routerLink="" (click)="handleLogout()">Logout</a></li>
            </ul>
        </nav>
    </header>
</mat-toolbar>