<h1>Add Movie</h1>
<form class="post-form" [formGroup]="postFormGroup" (ngSubmit)="createMovie()">
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="name">Name</mat-label>
            <input matInput formControlName="name" name="name" id="name" placeholder="Name">
        </mat-form-field>
        <ng-container *ngIf="postFormGroup.controls['name'].touched && postFormGroup.controls['name'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['name'].errors?.['required']">
                Name is required!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['name'].errors?.['minlength']">
                Name should be at least 2 symbols!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['name'].errors?.['maxlength']">
                Name should be less than 50 symbols!
            </p>
        </ng-container>
    </div>
    <mat-form-field class="description-field" appearance="fill">
        <mat-label for="description">Description</mat-label>
        <textarea matInput formControlName="description" name="description" id="description"
            placeholder="Description"></textarea>
    </mat-form-field>
    <ng-container *ngIf="postFormGroup.controls['description'].touched && postFormGroup.controls['description'].invalid">
        <p class="error" *ngIf="postFormGroup.controls['description'].errors?.['required']">
            Description is required!
        </p>
        <p class="error" *ngIf="postFormGroup.controls['description'].errors?.['minlength']">
            Description should be at least 10 symbols!
        </p>
    </ng-container>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="releaseDate">Release Date</mat-label>
            <input matInput formControlName="releaseDate" name="releaseDate" id="releaseDate" placeholder="6/15/2022">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="year">Year</mat-label>
            <input matInput formControlName="year" name="year" id="year">
        </mat-form-field>
        <ng-container *ngIf="postFormGroup.controls['releaseDate'].touched && postFormGroup.controls['releaseDate'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['releaseDate'].errors?.['required']">
                Release date is required!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['releaseDate'].errors?.['pattern']">
                Release date should be in this format MM/dd/yyyy!
            </p>
        </ng-container>
        <ng-container *ngIf="postFormGroup.controls['year'].touched && postFormGroup.controls['year'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['year'].errors?.['required']">
                Year is required!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['year'].errors?.['min']">
                Year shouldn't be before 1888!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['year'].errors?.['max']">
                Year shouldn't be after 2023!
            </p>
        </ng-container>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="genres">Genres</mat-label>
            <input matInput formControlName="genres" name="genres" id="genres">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="actors">Actors</mat-label>
            <input matInput formControlName="actors" name="actors" id="actors">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="duration">Duration</mat-label>
            <input matInput formControlName="duration" name="duration" id="duration">
        </mat-form-field>
        <ng-container *ngIf="postFormGroup.controls['duration'].touched && postFormGroup.controls['duration'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['duration'].errors?.['required']">
                Duration is required!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['duration'].errors?.['pattern']">
                Duration should be number!
            </p>
        </ng-container>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="gross">Gross</mat-label>
            <input matInput formControlName="gross" name="gross" id="gross">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="rating">Rating</mat-label>
            <input matInput formControlName="rating" name="rating" id="rating">
        </mat-form-field>
        <ng-container *ngIf="postFormGroup.controls['gross'].touched && postFormGroup.controls['gross'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['gross'].errors?.['required']">
                Gross is required!
            </p>
        </ng-container>
        <ng-container *ngIf="postFormGroup.controls['rating'].touched && postFormGroup.controls['rating'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['rating'].errors?.['required']">
                Rating is required!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['rating'].errors?.['pattern']">
                Rating should be number!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['rating'].errors?.['min']">
                Rating shouldn't be below 1!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['rating'].errors?.['max']">
                Rating shouldn't be above 10!
            </p>
        </ng-container>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="image">Image URL</mat-label>
            <input matInput formControlName="image" name="image" id="image">
        </mat-form-field>
        <ng-container *ngIf="postFormGroup.controls['image'].touched && postFormGroup.controls['image'].invalid">
            <p class="error" *ngIf="postFormGroup.controls['image'].errors?.['required']">
                Image is required!
            </p>
            <p class="error" *ngIf="postFormGroup.controls['image'].errors?.['pattern']">
                Image should start with http/https!
            </p>
        </ng-container>
    </div>

    <button mat-raised-button color="primary" [disabled]="postFormGroup.invalid">Add</button>
</form>