<h1>Add Movie</h1>
<form class="post-form" [formGroup]="postFormGroup" (ngSubmit)="createMovie()">
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="name">Name</mat-label>
            <input matInput formControlName="name" name="name" id="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="country">Country</mat-label>
            <input matInput formControlName="country" name="country" id="country" placeholder="Country name">
        </mat-form-field>
    </div>
    <mat-form-field class="description-field" appearance="fill">
        <mat-label for="description">Description</mat-label>
        <textarea matInput formControlName="description" name="description" id="description"
            placeholder="Description"></textarea>
    </mat-form-field>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="year">Year</mat-label>
            <input matInput formControlName="year" name="year" id="year">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select matNativeControl>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="duration">Duration</mat-label>
            <input matInput formControlName="duration" name="duration" id="duration">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="budget">Budget</mat-label>
            <input matInput formControlName="budget" name="budget" id="budget">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="gross">Gross</mat-label>
            <input matInput formControlName="gross" name="gross" id="gross">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="rating">Rating</mat-label>
            <input matInput formControlName="rating" name="rating" id="rating">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="image">Image URL</mat-label>
            <input matInput formControlName="image" name="image" id="image">
        </mat-form-field>
        <mat-form-field class="field" appearance="fill">
            <mat-label for="video">Video URL</mat-label>
            <input matInput formControlName="video" name="video" id="video">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" [disabled]="postFormGroup.invalid">Add</button>
</form>